<form>
    <label>Cost</label>
    <input type="number" name="cost" ng-model="vm.newListing.cost">
    <label>Sqft</label>
    <input type="number" name="sqft" ng-model="vm.newListing.sqft">
    <label>City</label>
    <input type='text' name="city" ng-model="vm.newListing.city">
    <button ng-click="vm.addListingFromService(vm.newListing)">Add Listing</button>
</form>

<h3>Listings:</h3>

<table class="table">
    <tr>
        <th>Cost </th>
        <th>Square Feet</th>
        <th>City</th>
    </tr>
    <tbody>
        <tr ng-repeat="listing in vm.listings.list">
            <td>{{listing.cost | currency}}</td>
            <td>{{listing.sqft | number}}</td>
            <td>{{listing.city}}</td>
        </tr>
    </tbody>
</table>