<form>
        <label>Rent</label>
        <input type="number" name="rent" ng-model="vm.newRental.rent">
        <label>Sqft</label>
        <input type="number" name="sqft" ng-model="vm.newRental.sqft">
        <label>City</label>
        <input type='text' name="city" ng-model="vm.newRental.city">
        <button ng-click="vm.addRentalFromService(vm.newRental)">Add Rental</button>
    </form>

<h3>Rentals:</h3>

<table class="table">
        <tr>
            <th>Rent </th>
            <th>Square Feet</th>
            <th>City</th>
        </tr>
        <tbody>
            <tr ng-repeat="rental in vm.rentals.list">
                <td>{{rental.rent | currency}}</td>
                <td>{{rental.sqft | number}}</td>
                <td>{{rental.city}}</td>
            </tr>
        </tbody>
    </table>